.route-1 {
    width: 100vw;
}
.path-1 {
    width: 90vw;
}

.route-2 {
    width: 110vw;
}
.path-2 {
    width: 100vw;
}

.route-3 {
    width: 120vw;
}
.path-3 {
    width: 110vw;
}

.route-4 {
    width: 90vw;
}
.path-4 {
    width: 80vw;
}

.route-5 {
    width: 160vw;
}
.path-5 {
    width: 150vw;
}