html, body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers vertically */
    height: 100vh;
    margin: 0;
}

#wagon {
    background-image: url("images/ot.png");
    width: 400px;
    height: 150px;
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scaleY(-1) rotate(180deg) translateY(-50%);
    top: 40vh;
    left: 0;
    z-index: 2;
}

.miles {
    color: blue;
}


.routes-container {
    width: auto;
    height: 20vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin: 0;
}

.route-1, .route-2 {
    width: 100vw;
    height: 50%;
    background-color: antiquewhite;
    display: flex;
}

.path-1 {
    width: 90vw;
    height: 100%;
    background-color: rgb(217, 176, 255);
}
#loc-1, #loc-2 {
    width: 10%;
    height: 100%;
    background-color: blueviolet;
    margin: 0;
}

.route-2 {
    box-sizing: border-box;
    display: none;
}

.route-1 {
    box-sizing: border-box;
}