html, body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers vertically */
    height: 100vh;
    margin: 0;
}

/* .background { */
    /* background-color: gray; */
    /* height: 100vh;
    width: 100vw;
    position: fixed; */
/* } */

.main-route {
    display: flex;
    /* position: absolute; */
    height: 20%;
    width: 200vw;
    top: 50%;
    transform: translateY(-50%);
}

.path-1, .path-2, .path-3 {
    width: 200vw;
    height: 100%;
    /* position: absolute; */
    background: linear-gradient(to right, green, white);
    /* top: 50%;
    transform: translateY(-50%); */
}
/* .path-1 { right: -100vw; }
.path-2 { right: -300vw; }
.path-3 { right: -500vw; } */

.stop {
    top: 50vh;
    left: 200vw;
    height: 20px;
    width: 20px;
    background-color: blue;
    position: absolute;
}

#wagon {
    background-image: url("images/ot.png");
    width: 100px;
    height: 50px;
    position: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scaleY(-1) rotate(180deg) translateY(-50%);
    /* top: 50vh; */
    left: 0;
    z-index: 2;
}

.miles {
    position: relative;
}


.a {
    width: 50vw;
    height: 20vh;
    background-color: red;
}

.first {
    width: 100vw;
    height: 20%;
    background-color: antiquewhite;
    display: flex;
}

.a1 {
    width: 90%;
    height: 100%;
    background-color: rgb(217, 176, 255);
}
.loc1 {
    width: 10%;
    height: 100%;
    background-color: blueviolet;
}