import locations.css

* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

#sky {
    width: 100vw;
    height: 50vh;
    position: absolute;
}

#party-header {
    display: grid;
    height: 5vh;
    place-items: center; /* centers both vertically and horizontally */
    margin: 0;
    border-bottom: 10px solid gray;
    position: relative;
}

.party-info {
    background-color: rgb(56, 56, 56);
    border: 10px solid gray;
    display: grid;
    height: 30vh;
    column-gap: 30px; /* horizontal only */
    row-gap: 0;
    margin: 0% 8% 0% 8%;
    position: relative;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        'header header header header'
        'wagon-1 wagon-2 wagon-3 items'
        'wagon-1 wagon-2 wagon-3 items'
        'wagon-1 wagon-2 wagon-3 items'
        'wagon-1 wagon-2 wagon-3 items'
        'wagon-1 wagon-2 wagon-3 items'
    ;
}

.party-info h3 {
    text-align: center;
    grid-area: header;
}

.wagon-1, .wagon-2, .wagon-3, .items {
    background-color: rgb(190, 190, 190);
    padding: 8px;
    /* box-shadow: 5px 5px 15px rgb(194, 194, 194); */
}

/* for when passenger is sick */
.passenger-info-text { 
    color: red;
}

/* this just makes it so the dynamically gen party text respects extra spaces */
.wagon-name-1, .wagon-name-2, .wagon-name-3, .item-span {
    white-space: pre;
}

.spacer-1 {
    background-color: aqua;
    height: 5vh;
}

.routes-container {
    height: 20vh;
    position: relative;
    display: flex;
    align-items: center;
}

.info-container {
    background-color: bisque;
    display: grid;
    height: 5vh;
    gap: 10px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
        'info info event days miles miles'
}

.info-div {
    color: rgb(49, 49, 49);
    grid-area: info;
    display: grid;
    align-items: center;
    justify-items: start;
}

.event {
    color: red;
    grid-area: event;
    display: grid;
    align-items: center;
    justify-items: start; 
}

.miles {
    color: blue;
    grid-area: miles;
    display: grid;
    align-items: center;
    justify-items: end;
}

.days {
    color: rgb(49, 49, 49);
    grid-area: days;
    display: grid;
    place-items: center;
}

.town-container {
    background-color: darkcyan;
    display: grid;
    height: 42vh;
}
/* alter vh as needed to fill entire space */

.loc-title {
    display: grid;
    height: 5vh;
}

.flavor-text {
    margin-top: 12px;
    margin-bottom: 0;
}

.purchase-options {
    margin-top: 0;
    margin-bottom: 0;
}

.bottom-most-text {
    display: grid;
    align-items: top;
    height: 30vh;
}

#wagon {
    position: absolute;
    top: 42%;
    left: 0;
    transform: translateY(-50%);
    width: 300px;
    height: 150px;
    background-image: url("images/ot-oxen.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}

.route-1, .route-2, .route-3, .route-4, .route-5, .route-6, .route-7, .route-8, #background-bar {
    height: 100%;
    background-color: rgb(217, 176, 255);
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap; /* 💥 this line is key */
}

#background-bar {
    width: 100vw;
    position: inherit;
    background-repeat: no-repeat;
    /* flex-wrap: wrap; */
    background-image: url("./images/mountains.png");
}

.path-1, .path-2, .path-3, .path-4, .path-5, .path-6, .path-7, .path-8 {
    height: 100%;
    background-color: rgb(217, 176, 255);
    background-repeat: no-repeat;
    background-image: url("./images/mountains.png");
}


/* forts only */
#loc-2, #loc-3, #loc-4, #loc-6, #loc-8 {
    width: 10vw;
    height: 100%;
    background-color: rgb(217, 176, 255);
    margin: 0;
    background-image: url("./images/fort.png");
}

/* rivers only */
#loc-1, #loc-5, #loc-7 {
    width: 10vw;
    height: 100%;
    background-color: rgb(217, 176, 255);
    margin: 0;
    background-image: url("./images/ot\ river.png");
    background-repeat: no-repeat;
}

.hide-path, .hide-loc, .hide-route{
    display: none;
}

/* .route-2 {
    box-sizing: border-box;
} */


/* .wagons {
    display: flex;
    justify-content: space-between;
} */


ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}