import locations.css

* {
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers vertically */
    height: 100vh;
    margin: 0;
}

.miles {
    color: blue;
    margin-top: 50px;
    display: block;
    width: 100%;
}

.routes-container {
    position: relative;
    height: 20vh;
    display: flex;
    align-items: center;
}

#wagon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) scaleY(-1) rotate(180deg);
    width: 300px;
    height: 150px;
    background-image: url("images/ot.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}

.route-1, .route-2, .route-3, .route-4, .route-5 {
    height: 50%;
    background-color: antiquewhite;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap; /* 💥 this line is key */
}
.path-1, .path-2, .path-3, .path-4, .path-5 {
    height: 100%;
    background-color: rgb(217, 176, 255);
}



#loc-1, #loc-2, #loc-3, #loc-4, #loc-5 {
    width: 10vw;
    height: 100%;
    background-color: blueviolet;
    margin: 0;
    background-image: url("./images/fort.png");
}

.hide-path, .hide-loc, .hide-route{
    display: none;
}

/* .route-2 {
    box-sizing: border-box;
} */

.event {
    color: red;
}

.party-info {
    position: absolute;
    top: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.party-info h3 {
    text-align: center;
}

.wagons {
    display: flex;
    justify-content: space-between;
}

.wagon-name-1, .wagon-name-2, .wagon-name-3, .item-span {
    display: block;
    margin-bottom: 12px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.passenger-info-text {
    color: red;
}