.route-1 {
    width: 60vw;
}
.path-1 {
    width: 50vw;
}

.route-2 {
    width: 80vw;
}
.path-2 {
    width: 70vw;
}

.route-3 {
    width: 100vw;
}
.path-3 {
    width: 90vw;
}

.route-4 {
    width: 120vw;
}
.path-4 {
    width: 110vw;
}

.route-5 {
    width: 80vw;
}
.path-5 {
    width: 70vw;
}

.route-6 {
    width: 90vw;
}
.path-6 {
    width: 80vw;
}

.route-7 {
    width: 170vw;
}
.path-7 {
    width: 160vw;
}

.route-8 {
    width: 160vw;
}
.path-8 {
    width: 150vw;
}