.route-1 {
    width: 60vw;
}
.path-1 {
    width: 50vw;
}

.route-2 {
    width: 130vw;
}
.path-2 {
    width: 120vw;
}

.route-3 {
    width: 80vw;
}
.path-3 {
    width: 70vw;
}

.route-4 {
    width: 110vw;
}
.path-4 {
    width: 100vw;
}

.route-5 {
    width: 100vw;
}
.path-5 {
    width: 90vw;
}

.route-6 {
    width: 90vw;
}
.path-6 {
    width: 80vw;
}

.route-7 {
    width: 140vw;
}
.path-7 {
    width: 130vw;
}

.route-8 {
    width: 100vw;
}
.path-8 {
    width: 90vw;
}

.route-9 {
    width: 160vw;
}
.path-9 {
    width: 150vw;
}

.route-10 {
    width: 150vw;
}
.path-10 {
    width: 140vw;
}

.route-11 {
    width: 110vw;
}
.path-11 {
    width: 100vw;
}

.route-12 {
    width: 80vw;
}
.path-12 {
    width: 70vw;
}

.route-13 {
    width: 190vw;
}
.path-13 {
    width: 180vw;
}

.route-14 {
    width: 100vw;
}
.path-14 {
    width: 90vw;
}