h4 {
  margin-top: 12px;
  margin-bottom: 12px;
}

#party-creation {
    width: 80vw;
    height: 80vh;
    background-color: rgb(107, 107, 255);
    z-index: 5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#party-creation.activate-creator {
  display: none;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 0.5em; /* space between radio and label */
}

.food-parts-container {
  display: grid;
  grid-template-columns: 1fr 0.7fr 1fr 1fr; /* adjust ratios */ 
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
        'food amount1 null null'
        'wheels amount2 null null'
        'axles amount3 null null'
    ;
}

#food {
  grid-area: food;
}

#food-purchased {
  grid-area: amount1;
}

#wheels {
  grid-area: wheels;
}

#wagon-wheels {
  grid-area: amount2;
}

#axles {
  grid-area: axles;
}

#wagon-axles {
  grid-area: amount3;
}

/* #title-screen:not(.hide-title) {
  display: flex;
} */

/* #title {
    font-size: 8rem;
    padding-left: 20px;
} */

/* #sub-title {
    font-size: 2rem;
    padding-left: 20px;
    color: rgb(128, 40, 40);
} */

/* #press-start {
    font-size: 1.5rem;
    padding-left: 20px;
    text-align: right;
    padding-right: 20px;
} */