import locations.css
import title.css
import party-creator.css

* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    margin: 0;
    font-family: "Press Start 2P", system-ui;
    background-color: antiquewhite;
}

#sky {
    width: 100%; 
    height: 57vh;
    position: absolute;
    top: 0;
    margin: 0;
}

.cloud1 {
    background-image: url("../images/cloud1.png");
    width: 200px;
    height: 100px;
    position: absolute;
    right: 0vh;
    top: 17vh;
    background-repeat: no-repeat;
    background-size: contain; /* or cover */
}

.cloud2 {
    background-image: url("../images/cloud2.png");
    width: 200px;
    height: 100px;
    position: absolute;
    left: -5vh;
    top: 10vh;
    background-repeat: no-repeat;
    background-size: contain; /* or cover */
}

#party-header {
    /* display: grid; don't know why removing this centers text correctly after adding font size */
    height: 5vh;
    place-items: center; /* centers both vertically and horizontally */
    margin: 15px 0 0 0;
    border-bottom: 10px solid gray;
    position: relative;
    font-size: 1.5rem;
}

.party-info {
    background-color: rgb(56, 56, 56);
    border: 10px solid gray;
    display: grid;
    height: 38vh;
    column-gap: 30px; /* horizontal only */
    row-gap: 0;
    margin: 0% 10% 0% 10%;
    position: relative;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        'header header header header'
        'wagon-1 wagon-2 wagon-3 items'
        'wagon-1 wagon-2 wagon-3 items'
        'wagon-1 wagon-2 wagon-3 items'
        'wagon-1 wagon-2 wagon-3 items'
        'wagon-1 wagon-2 wagon-3 items'
    ;
}

.party-info h3 {
    text-align: center;
    grid-area: header;
}

.wagon-1, .wagon-2, .wagon-3, .items {
    background-color: rgb(56, 56, 56);
    padding: 8px;
    color: rgb(197, 88, 197);
    font-weight: bold;
    /* box-shadow: 5px 5px 15px rgb(194, 194, 194); */
}

/* for when passenger is sick */
.passenger-info-text { 
    color: red;
}

/* this just makes it so the dynamically gen party text respects extra spaces */
.wagon-name-1, .wagon-name-2, .wagon-name-3, .item-span {
    white-space: pre;
}

/* .spacer-1 {
    background-color: aqua;
    height: 5vh;
} */

.routes-container {
    height: 16vh;
    position: relative;
    display: flex;
    align-items: center;
    top: 0vh;
}

.info-container {
    background-color: rgb(187, 165, 137);
    display: grid;
    height: 8vh;
    gap: 10px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
        'info info event event miles miles';
    
    /* grid-template-areas: 
        'info info event days miles miles' REMOVED DAYS*/
}

.info-div {
    color: rgb(49, 49, 49);
    grid-area: info;
    display: grid;
    align-items: center;
    justify-items: start;
    font-size: 0.8rem;
    padding-left: 10px;
}

.event {
    color: red;
    grid-area: event;
    display: grid;
    align-items: center;
    justify-items: start;
    font-size: 0.8rem;
}

.miles {
    color: blue;
    grid-area: miles;
    display: grid;
    align-items: center;
    justify-items: end;
    font-size: 0.8rem;
    padding: 0 10px 0 0;
}

.days {
    color: rgb(49, 49, 49);
    grid-area: days;
    display: grid;
    place-items: center;
    font-size: 0.8rem;
}

.town-container {
    background-color: rgb(188, 232, 199);
    display: grid;
    margin: 0;
    height: 35vh;
    font-size: 0.8rem;
    /* border: 10px solid rgb(50, 50, 50); */
}
/* alter vh as needed to fill entire space */

.loc-title {
    display: grid;
    height: 5vh;
}

.flavor-text {
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 1rem;
    padding: 0 10px 0 10px;
}

.purchase-options {
    margin-top: 0;
    margin-bottom: 0;
}

.bottom-most-text {
    display: grid;
    align-items: top;
    height: 20vh;
    padding: 0 10px 0 10px;
}

#wagon {
    position: absolute;
    top: 55%;
    left: 0;
    transform: translateY(-50%);
    width: 300px;
    height: 150px;
    background-image: url("../images/ot-oxen.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}
#wagon.dysentery {
    position: absolute;
    top: 55%;
    left: 0;
    transform: translateY(-50%);
    width: 300px;
    height: 150px;
    background-image: url("../images/ot-oxen-brown.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}

.route-1, .route-2, .route-3, .route-4, .route-5, .route-6, .route-7, .route-8, #background-bar {
    height: 100%;
    /* background-color: rgb(217, 176, 255); */
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap; /* 💥 this line is key */
}

#background-bar {
    width: 100vw;
    position: inherit;
    /* background-repeat: no-repeat; */
    /* flex-wrap: wrap; */
    background-image: url("../images/mountains.png");
}

.path-1, .path-2, .path-3, .path-4, .path-5, .path-6, .path-7, .path-8 {
    height: 100%;
    /* background-color: rgb(217, 176, 255); */
    /* background-repeat: no-repeat; */
    background-image: url("../images/mountains.png");
}


/* forts only */
#loc-2, #loc-3, #loc-4, #loc-6, #loc-8 {
    width: 10vw;
    height: 100%;
    /* background-color: rgb(217, 176, 255); */
    margin: 0;
    background-image: url("../images/fort.png");
}

/* rivers only */
#loc-1, #loc-5, #loc-7 {
    width: 10vw;
    height: 100%;
    /* background-color: rgb(217, 176, 255); */
    margin: 0;
    background-image: url("../images/ot\ river.png");
    background-repeat: no-repeat;
    background-size: 100% 60%;
    background-position: bottom;
}

.hide-path, .hide-loc, .hide-route{
    display: none;
}

/* .route-2 {
    box-sizing: border-box;
} */


/* .wagons {
    display: flex;
    justify-content: space-between;
} */


ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 10px 0px;
    font-size: 0.8rem;
}

span, .item-span {
    font-size: 1.2rem;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}


/* must be a way to have mountains fade in? */